extend layout

block content
  .jumbotron.masthead
    .container
      h1=title
      p Enjoy!
      p ...RethinkDb, Socket.io, Express, Passport and Bcrypt

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Test it
      p